// Footer

.page-footer{
    background: @pink;

    .footer-links-container{
        display: flex;
        justify-content: space-around;
        margin-top: 69px;
        margin-left: 71px;

        .footer-links {
            height: 99px;
            width: 50px;

        }
        h3 {
            color: @white;
            font-family: "Poppins-Medium";
            font-size: 19px;
            margin-bottom: 19px;
            height: 17px;
            width: 125px;
            letter-spacing: 0.23px;
        }
        ul {
            list-style: none;
            padding: 0;

            li {
                a {
                    cursor: pointer;
                    color: @white;
                    text-decoration: none;
                    font-family: "Poppins-Light";
                    font-size: 16px;
                    font-weight: 100;
                    width: 170px;
                    height: 99px;
                    text-align: left;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .form.subscribe {
        margin-top: 87px;
        .field.newsletter {
            .control {
                &:before {
                    content: "";
                }
                input {
                    background: @pink;
                    color: @white;
                    padding: 0 0 0 0.7rem;
                    width: 300px;
                    height: 35px;
                    border: 1.5px solid @white;
                    margin: 0;
                    font-family: "Poppins-Light";
                    text-align: left;
                    &::placeholder {
                        color: #ffffff;
                        font-family: "Poppins-Light";
                        
                    }
                }
            }
        }

        .actions {
            .action.subscribe {
                background-color: @white;
                width: 135px;
                height: 35px;
                border: 0;

                span {
                    font-family: "Poppins-Bold";
                    text-transform: uppercase;
                    font-size: 15px;
                    color: @pink;
                }
            }
        }

    }

}

//Media Queries


@media screen and (max-width:1077px) {

    .page-footer{
            .form.subscribe{
                .field.newsletter{
                    .control input{
                        width: 200px;
                    }
                }
            }
    }   
    
}

@media screen and (max-width: 984px) {
    .page-footer{
            .form.subscribe {
                width: 100px;
                .actions{
                    .action.subscribe{
                        width: 100px;
                    }
                }
            }
    }   
}

@media screen and (max-width: 819px){
    .page-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        .footer-links-container{
            display: flex;
            flex-direction: column;
        }
        .footer.content{
            .block.newsletter{
                max-width: 100%;
                .form.subscribe {
                    width: 300px;
                    margin: auto;
                    margin-top: 50px;
        
        
                }
            }
        }

    }  
}

@media screen and (max-width: 767px) {
    .page-footer{
        .footer.content{
            padding: 0;
            .block.newsletter{
                .form.subscribe {
                    width: 0;
                    margin: auto;
                    margin-top: 50px;
        
        
                }
            }
        }

    }   
}
