.page-wrapper{
    .page-main{
        .columns{
            .actions-toolbar {
                .action.action-cancel{
                    background: none;
                    span{
                        color: @pink;
                        background: none;
                        font-size: 16x;
                    }
                }
            }
        }
    }
}   


.product-info-main {
    .page-title-wrapper{
        a{
            color: @pink;
        }
    }
    .page-title-wrapper.product{
        h1{
            font-family: "Poppins-Medium";
        }
    }

    .product-reviews-summary{
        a{
            color: @grey-rock;
        }

    }
    .product-info-price{
        .price-box{
            .price-container{
                .price{
                    font-family: "Poppins-Bold";
                }
            } 
        }
    }  
    .product-add-form {
        form {
            .box-tocart {
                .fieldset {
                    .actions {
                        button {
                            background-color:@orange;
                            border: none;
                            font-family: "Poppins-Bold";
                            color: @white;
                            font-size: 20px;
                            border-radius: 10px;
                            &:hover{
                                background-color: @dark-orange;
                            }
                        }
                    }
                }
            }
        }
    }
    .bundle-actions{
        button{
            background: @orange;
            border: none;
            font-family: 'Poppins-Bold';
            font-size: 20px;
            border-radius: 10px;
            &:hover{
                background: @dark-orange;
            }
        }
    }
}

.checkout-payment-method{
    .payment-method-title.field.choice{
        input{
            accent-color: @orange;
        }
        
    }
    .payment-option-title{

        .action-toggle {
            span{
                color: @pink;
                &:hover{
                    text-decoration: underline;
                }

            }
        }
    }
    .payment-method-content{
        .payment-method-billing-address{
            .billing-address-same-as-shipping-block.field.choice{
                input{
                    accent-color: @orange;
                }

            }
            .checkout-billing-address{
                .billing-address-details{
                    a{
                        color: @pink;
                    }
                    button{
                        background: @pink;
                            color: @white;
                            font-family: "Poppins-Bold";
                            border: none;
                            height: 32px;
                            box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
                    }
                }
                fieldset{
                    .actions-toolbar{
                        .action.action-cancel{
                            width: 90px;
                            height: 24px;
                            text-decoration: none;
                        }

                    }
                }
            }

        }
        .billing-address-form{
            .choice.field{
                input{
                    accent-color: @orange;
                }
            }
        }

    }

    .payment-option{
        .payment-option-content {
            .form-discount{
                .actions-toolbar{
                    .primary{
                        .action{
                            background: @pink;
                            color: @white;
                            font-family: "Poppins-Bold";
                            border: none;
                            height: 32px;
                            box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
                        }
                    }
                }
            }  
        }
    }

    .payment-method-content >{
        .actions-toolbar >{
            .primary{
                .action.primary{
                    background: @orange;
                    border: none;
                    font-family: 'Poppins-Bold';
                    font-size: 20px;
                    border-radius: 10px;
                    &:hover{
                        background: @dark-orange;
                    }

                }
            } 
        }
    }
}
.checkout-container {
    .opc-progress-bar {
        .opc-progress-bar-item._active {
            &::before {
                background: @orange;
                border-color: @orange;
            }

            span {
                color: @pink;
                &::before {
                    background: @orange;
                    border-color: @orange;
                }
            }
            span::after {
                border-color: @orange;
            }
        }
        .opc-progress-bar-item._complete {
            span {
                color: @pink;
            }
        }
    }
}   
.page-title-wrapper{
    a{
        color: @pink;
    }
}
.checkout-success{
    p{
        .order-number{
            color: @pink;
        }
    }
    .actions-toolbar{
        .primary{
            .action.primary.continue{
                background: @orange;
                border: none;
                font-family: 'Poppins-Bold';
                font-size: 20px;
                border-radius: 10px;
                &:hover{
                    background: @dark-orange;
                }
            }
        }

    }
}

#registration{
    .action.primary{
        background: @orange;
        border: none;
        font-family: 'Poppins-Bold';
        font-size: 20px;
        border-radius: 10px;
        &:hover{
            background: @dark-orange;
        }
    }
}

.cart-container{
    form{
        .cart.main.actions{
            .action.update{
                background: @pink;
                color: @white;
                font-family: "Poppins-Bold";
                box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
            }
        }
    }
    .cart-summary{
    .block.shipping.active{
        .content{
            #co-shipping-method-form{
                .fieldset.rate{
                    dl{
                        .item-options{
                            .field.choice.item{
                                input{
                                    accent-color: @orange
                                };
                            }
                        }
                    }
                }
            }
        }
    }
        ul{
            li{
                a{
                    color: @pink;
                    &:hover{
                        text-decoration: underline;
                    }
                }
                .action.primary.checkout{
                    background: @orange;
                    font-family: "Poppins-Bold";
                    border: none;
                    border-radius: 10px;
                    &:hover{
                        background: @dark-orange;
                        border: none;
                    }
                }
            }
        }
    }
    .cart-discount{
        .title{
            strong{
                color: @pink;
                &:hover{
                    text-decoration: underline;
                }
            }

        }
        .content{
            form{
                .fieldset.coupon{
                    .field{
                        .control{
                            input{
                                font-family: 'Poppins-Light';
                                color: @black;
                            }
                        }

                    }
                    .actions-toolbar{
                        .primary{
                            button{
                                background: @pink;
                                color: @white;
                                font-family: "Poppins-Bold";
                                border: none;
                                height: 32px;
                                box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
                            }
                        }

                    }
                }
            }
        }
    }
}
.modal-custom.opc-sidebar.opc-summary-wrapper.custom-slide{
    .modal-inner-wrap{
        .modal-content{
            .ship-to{
                .shipping-information-content{
                    a{
                        color: @pink;
                        
                    }
                }
            }
        }
    }
}
.modals-wrapper{
    .modal-inner-wrap{
        .modal-content{
            #opc-new-shipping-address{
                .form.form-shipping-address{
                    .fieldset.address{
                        input{
                            accent-color: @orange;
                        }
                    }
                }

            }
       } 
       .modal-footer{
           .action.primary.action-save-address{
            background: @orange;
            font-family: "Poppins-Bold";
            border: none;
            &:hover{
                background: @dark-orange;
                border: none;
            }
               span{
                   color: @white;

               }
           }
        span{
            color: @pink;
        }
    }
    }
   
}
.opc-wrapper{
    form{
        .fieldset.hidden-fields{
            .actions-toolbar{
                .action.login.primary{
                    background: @orange;
                    font-family: "Poppins-Bold";
                    border: none;
                    &:hover{
                        background: @dark-orange;
                        border: none;
                    }
                }
                .secondary{
                    a{
                        color: @pink
                    }
                }
            }
        }
        .table-checkout-shipping-method{
            tbody{
                .row{
                    td{
                        input{
                            accent-color: @orange;
                        }
                    }
                }
            }
        }

    }
    .opc{
        .checkout-shipping-address{
            .step-content{
                .field.addresses{
                    .shipping-address-item.selected-item{
                        border-color: @orange;
                        &::after{
                            background: @orange;
                        }
                        a{
                            color: @pink;
                        }
                    }
                }
                .new-address-popup{
                    .action.action-show-popup{
                        background: @pink;
                        color: @white;
                        font-family: "Poppins-Bold";
                        border: none;
                        height: 32px;
                        box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
                    }
                }
            }
        }
    }
}

.cart-empty{
    p{
        a{
            color: @pink
        }
    }
}

